@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");

$title-font: "Libre Baskerville";
$main-font: "Comfortaa";
$main-font-color: black;
$accent-color: rgb(213, 197, 224);
$sub-accent-color: rgb(110, 177, 84);

$nav-bar-height: 90px;
$nav-bar-height-mobile: 70px;
