@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Coming+Soon");

$main-font: "Indie Flower";
$logo-font: "Coming Soon";
$main-font-color: black;
$accent-color: rgb(213, 197, 224);
